//Colors

$off-white: #F5F5F5;
$off-black: #333;
$gray: #808080;
$light-taupe: #dddbd5;



//Font stlyles

$body-font: 'Varela Round', sans-serif;



//Font sizes

$big-header: 3em;
$med-header: 2em;
$sml-header: 1.2em;

// Line styles

$thick: 3px;
$thin: 1px;
